In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
match_data=pd.read_csv('E:\DS\DATA\IPL_Matches_Result_2008_2022.csv')
data=pd.read_csv('E:\DS\DATA\IPL_Ball_by_Ball_2008_2022.csv')
data.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [4]:
data.kind.unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

In [5]:
print(match_data.columns)
print(match_data.shape)
print(data.columns)
print(data.shape)

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')
(950, 20)
Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam'],
      dtype='object')
(225954, 17)

def bowler (row):
    match=data[data.ID==row.ID]
    if row['innings'] == 1 :
      return match.loc[match.innings==2,'BattingTeam'].head(1)#data.loc[(data.ID==row.ID) & (data.innings==2),'BattingTeam'].head(1)
    return 2#data.loc[(data.ID==row.ID) & (data.innings==1),'BattingTeam'].head(1)
#df=data.copy()
#data=data.assign(bowling_team= lambda x: (df.loc[df.ID==x.ID & df.innings==2,1]))
data.apply(lambda row: bowler(row),axis=1)
#data.head()

In [6]:
run=0
match_id=0
wicket=0
inning=0
runy=[]
wicky=[]

def scorecard(row):
    global match_id
    global inning
    global run
    global wicket
    if((row.ID!=match_id)or(row.innings!=inning)):
        run=0
        wicket=0
        match_id=row.ID
        inning=row.innings
    run=run+row.total_run
    wicket=wicket+row.isWicketDelivery
    runy.append(run)
    wicky.append(wicket)
#return (run,wicket)
data.apply(lambda row: scorecard(row),axis=1)
#data['current_runs']=

0         None
1         None
2         None
3         None
4         None
          ...
225949    None
225950    None
225951    None
225952    None
225953    None
Length: 225954, dtype: object

In [7]:
#df = pd.DataFrame(score, columns=['runs','wickets'])
#df.head()
data['current_runs']=runy
data['current_wickets']=wicky
data.head(14)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,current_runs,current_wickets
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,0,0
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,1,0
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,2,0
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,2,0
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,2,0
5,1312200,1,0,6,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,2,0
6,1312200,1,1,1,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,2,0
7,1312200,1,1,2,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,2,0
8,1312200,1,1,3,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals,6,0
9,1312200,1,1,4,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,6,0
10,1312200,1,1,5,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,7,0
11,1312200,1,1,6,YBK Jaiswal,Yash Dayal,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,7,0
12,1312200,1,2,1,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,8,0
13,1312200,1,2,2,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,8,0

In [8]:
data["current_wickets"].value_counts()

0     45475
1     45008
2     40138
3     33446
4     25410
5     15701
6      9804
7      5687
8      3344
9      1779
10      162
Name: current_wickets, dtype: int64

In [9]:
dataset=pd.merge(data,match_data,on='ID')
dataset.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,...,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,...,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225954 entries, 0 to 225953
Data columns (total 38 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
 17  current_runs       225954 non-null  int64
 18  current_wickets    225954 non-null  int64
 19  City               213557 non-null  object
 20  Date               225954 non-null  object
 21  Season             225954 non-null  object
 22  MatchNumber        225954 non-null  object
 23  Team1              225954 non-null  object
 24  Team2              225954 non-null  object
 25  Venue              225954 non-null  object
 26  TossWinner         225954 non-null  object
 27  TossDecision       225954 non-null  object
 28  SuperOver          225582 non-null  object
 29  WinningTeam        225582 non-null  object
 30  WonBy              225954 non-null  object
 31  Margin             221948 non-null  float64
 32  method             3208 non-null    object
 33  Player_of_Match    225582 non-null  object
 34  Team1Players       225954 non-null  object
 35  Team2Players       225954 non-null  object
 36  Umpire1            225954 non-null  object
 37  Umpire2            225954 non-null  object
dtypes: float64(1), int64(11), object(26)
memory usage: 67.2+ MB

cor_matrix=dataset[['ID', 'innings', 'overs', 'ballnumber',  'batsman_run', 'extras_run', 'total_run', 'isWicketDelivery', 'Margin']].corr()
sns.heatmap(cor_matrix,cmap='flare')

In [11]:
dataset.columns

Index(['ID', 'innings', 'overs', 'ballnumber', 'batter', 'bowler',
       'non-striker', 'extra_type', 'batsman_run', 'extras_run', 'total_run',
       'non_boundary', 'isWicketDelivery', 'player_out', 'kind',
       'fielders_involved', 'BattingTeam', 'current_runs', 'current_wickets',
       'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2', 'Venue',
       'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam', 'WonBy',
       'Margin', 'method', 'Player_of_Match', 'Team1Players', 'Team2Players',
       'Umpire1', 'Umpire2'],
      dtype='object')

In [12]:
player_data=dataset[['ID', 'innings', 'overs','batter', 'bowler', 'batsman_run','total_run',
                  'isWicketDelivery','BattingTeam','current_runs', 'current_wickets', 'Season','MatchNumber',
                    'Venue']]
player_data.head()

,ID,innings,overs,batter,bowler,batsman_run,total_run,isWicketDelivery,BattingTeam,current_runs,current_wickets,Season,MatchNumber,Venue
0,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,0,0,2022,Final,"Narendra Modi Stadium, Ahmedabad"
1,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,1,0,Rajasthan Royals,1,0,2022,Final,"Narendra Modi Stadium, Ahmedabad"
2,1312200,1,0,JC Buttler,Mohammed Shami,1,1,0,Rajasthan Royals,2,0,2022,Final,"Narendra Modi Stadium, Ahmedabad"
3,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,0,2022,Final,"Narendra Modi Stadium, Ahmedabad"
4,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,0,2022,Final,"Narendra Modi Stadium, Ahmedabad"

In [13]:
player_data.MatchNumber.unique()

array(['Final', 'Qualifier 2', 'Eliminator', 'Qualifier 1', '70', '69',
       '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58',
       '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47',
       '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36',
       '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25',
       '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14',
       '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2',
       '1', 'Qualifier', 'Elimination Final', '72', '71',
       '3rd Place Play-Off', 'Semi Final'], dtype=object)

In [14]:
venue_data=dataset[['Venue','ID','total_run','isWicketDelivery']].groupby('Venue').agg({'ID':lambda x: len(x.unique()),
                                                                                        'total_run':lambda x: x.sum(),
                                                                                        'isWicketDelivery':lambda x: x.sum()})
venue_data.columns=['matches','runs','wickets']
venue_data['avg_runs']=venue_data.runs/(2*venue_data.matches)
venue_data['avg_wickets']=venue_data.wickets/(2*venue_data.matches)
venue_data['bowling_avg']=venue_data.runs/venue_data.wickets
venue_data

,matches,runs,wickets,avg_runs,avg_wickets,bowling_avg
Venue,,,,,,
Arun Jaitley Stadium,14,4543,171,162.250000,6.107143,26.567251
"Arun Jaitley Stadium, Delhi",4,1509,34,188.625000,4.250000,44.382353
Barabati Stadium,7,2278,80,162.714286,5.714286,28.475000
Brabourne Stadium,10,3481,120,174.050000,6.000000,29.008333
"Brabourne Stadium, Mumbai",17,5824,211,171.294118,6.205882,27.601896
Buffalo Park,3,799,38,133.166667,6.333333,21.026316
De Beers Diamond Oval,3,897,39,149.500000,6.500000,23.000000
Dr DY Patil Sports Academy,17,4810,216,141.470588,6.352941,22.268519
"Dr DY Patil Sports Academy, Mumbai",20,6573,254,164.325000,6.350000,25.877953
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,13,3746,163,144.076923,6.269231,22.981595
Dubai International Cricket Stadium,46,14450,545,157.065217,5.923913,26.513761
Eden Gardens,77,23658,878,153.623377,5.701299,26.945330
"Eden Gardens, Kolkata",2,779,19,194.750000,4.750000,41.000000
Feroz Shah Kotla,60,18421,697,153.508333,5.808333,26.428981
Green Park,4,1298,49,162.250000,6.125000,26.489796
Himachal Pradesh Cricket Association Stadium,9,2897,104,160.944444,5.777778,27.855769
Holkar Cricket Stadium,9,2872,92,159.555556,5.111111,31.217391
JSCA International Stadium Complex,7,2056,81,146.857143,5.785714,25.382716
Kingsmead,15,4353,201,145.100000,6.700000,21.656716
M Chinnaswamy Stadium,65,20263,743,155.869231,5.715385,27.271871
M.Chinnaswamy Stadium,15,5127,179,170.900000,5.966667,28.642458
MA Chidambaram Stadium,9,2563,100,142.388889,5.555556,25.630000
"MA Chidambaram Stadium, Chepauk",48,15277,566,159.135417,5.895833,26.991166
"MA Chidambaram Stadium, Chepauk, Chennai",10,3038,131,151.900000,6.550000,23.190840
Maharashtra Cricket Association Stadium,22,7007,259,159.250000,5.886364,27.054054
"Maharashtra Cricket Association Stadium, Pune",13,4108,175,158.000000,6.730769,23.474286
"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.500000,27.766234
Nehru Stadium,5,1363,62,136.300000,6.200000,21.983871
New Wanderers Stadium,8,2292,92,143.250000,5.750000,24.913043
Newlands,7,1797,93,128.357143,6.642857,19.322581
OUTsurance Oval,2,529,25,132.250000,6.250000,21.160000
Punjab Cricket Association IS Bindra Stadium,10,3476,104,173.800000,5.200000,33.423077
"Punjab Cricket Association IS Bindra Stadium, Mohali",11,3545,115,161.136364,5.227273,30.826087
"Punjab Cricket Association Stadium, Mohali",35,10987,411,156.957143,5.871429,26.732360
Rajiv Gandhi International Stadium,15,4631,190,154.366667,6.333333,24.373684
"Rajiv Gandhi International Stadium, Uppal",49,14888,565,151.918367,5.765306,26.350442
"Sardar Patel Stadium, Motera",12,3767,145,156.958333,6.041667,25.979310
Saurashtra Cricket Association Stadium,10,3333,109,166.650000,5.450000,30.577982
Sawai Mansingh Stadium,47,14264,518,151.744681,5.510638,27.536680
Shaheed Veer Narayan Singh International Stadium,6,1741,60,145.083333,5.000000,29.016667
Sharjah Cricket Stadium,28,8583,322,153.267857,5.750000,26.655280
Sheikh Zayed Stadium,29,8857,329,152.706897,5.672414,26.920973
St George's Park,7,2033,77,145.214286,5.500000,26.402597
Subrata Roy Sahara Stadium,16,4528,183,141.500000,5.718750,24.743169
SuperSport Park,12,3653,133,152.208333,5.541667,27.466165
"Vidarbha Cricket Association Stadium, Jamtha",3,882,48,147.000000,8.000000,18.375000
Wankhede Stadium,73,23407,894,160.321918,6.123288,26.182327
"Wankhede Stadium, Mumbai",31,10301,361,166.145161,5.822581,28.534626
"Zayed Cricket Stadium, Abu Dhabi",8,2475,93,154.687500,5.812500,26.612903

In [15]:
def decide(row):
    if row.bowling_avg>28 :
        return 'batting'
    if row.bowling_avg<23:
        return 'bowling'
    return 'balanced'
    #data.loc[(data.ID==row.ID) & (data.innings==1),'BattingTeam'].head(1)
#df=data.copy()
#data=data.assign(bowling_team= lambda x: (df.loc[df.ID==x.ID & df.innings==2,1]))
venue_data['pitch']=venue_data.apply(lambda row: decide(row),axis=1)
venue_data
#data.head()

,matches,runs,wickets,avg_runs,avg_wickets,bowling_avg,pitch
Venue,,,,,,,
Arun Jaitley Stadium,14,4543,171,162.250000,6.107143,26.567251,balanced
"Arun Jaitley Stadium, Delhi",4,1509,34,188.625000,4.250000,44.382353,batting
Barabati Stadium,7,2278,80,162.714286,5.714286,28.475000,batting
Brabourne Stadium,10,3481,120,174.050000,6.000000,29.008333,batting
"Brabourne Stadium, Mumbai",17,5824,211,171.294118,6.205882,27.601896,balanced
Buffalo Park,3,799,38,133.166667,6.333333,21.026316,bowling
De Beers Diamond Oval,3,897,39,149.500000,6.500000,23.000000,balanced
Dr DY Patil Sports Academy,17,4810,216,141.470588,6.352941,22.268519,bowling
"Dr DY Patil Sports Academy, Mumbai",20,6573,254,164.325000,6.350000,25.877953,balanced
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium,13,3746,163,144.076923,6.269231,22.981595,bowling
Dubai International Cricket Stadium,46,14450,545,157.065217,5.923913,26.513761,balanced
Eden Gardens,77,23658,878,153.623377,5.701299,26.945330,balanced
"Eden Gardens, Kolkata",2,779,19,194.750000,4.750000,41.000000,batting
Feroz Shah Kotla,60,18421,697,153.508333,5.808333,26.428981,balanced
Green Park,4,1298,49,162.250000,6.125000,26.489796,balanced
Himachal Pradesh Cricket Association Stadium,9,2897,104,160.944444,5.777778,27.855769,balanced
Holkar Cricket Stadium,9,2872,92,159.555556,5.111111,31.217391,batting
JSCA International Stadium Complex,7,2056,81,146.857143,5.785714,25.382716,balanced
Kingsmead,15,4353,201,145.100000,6.700000,21.656716,bowling
M Chinnaswamy Stadium,65,20263,743,155.869231,5.715385,27.271871,balanced
M.Chinnaswamy Stadium,15,5127,179,170.900000,5.966667,28.642458,batting
MA Chidambaram Stadium,9,2563,100,142.388889,5.555556,25.630000,balanced
"MA Chidambaram Stadium, Chepauk",48,15277,566,159.135417,5.895833,26.991166,balanced
"MA Chidambaram Stadium, Chepauk, Chennai",10,3038,131,151.900000,6.550000,23.190840,balanced
Maharashtra Cricket Association Stadium,22,7007,259,159.250000,5.886364,27.054054,balanced
"Maharashtra Cricket Association Stadium, Pune",13,4108,175,158.000000,6.730769,23.474286,balanced
"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.500000,27.766234,balanced
Nehru Stadium,5,1363,62,136.300000,6.200000,21.983871,bowling
New Wanderers Stadium,8,2292,92,143.250000,5.750000,24.913043,balanced
Newlands,7,1797,93,128.357143,6.642857,19.322581,bowling
OUTsurance Oval,2,529,25,132.250000,6.250000,21.160000,bowling
Punjab Cricket Association IS Bindra Stadium,10,3476,104,173.800000,5.200000,33.423077,batting
"Punjab Cricket Association IS Bindra Stadium, Mohali",11,3545,115,161.136364,5.227273,30.826087,batting
"Punjab Cricket Association Stadium, Mohali",35,10987,411,156.957143,5.871429,26.732360,balanced
Rajiv Gandhi International Stadium,15,4631,190,154.366667,6.333333,24.373684,balanced
"Rajiv Gandhi International Stadium, Uppal",49,14888,565,151.918367,5.765306,26.350442,balanced
"Sardar Patel Stadium, Motera",12,3767,145,156.958333,6.041667,25.979310,balanced
Saurashtra Cricket Association Stadium,10,3333,109,166.650000,5.450000,30.577982,batting
Sawai Mansingh Stadium,47,14264,518,151.744681,5.510638,27.536680,balanced
Shaheed Veer Narayan Singh International Stadium,6,1741,60,145.083333,5.000000,29.016667,batting
Sharjah Cricket Stadium,28,8583,322,153.267857,5.750000,26.655280,balanced
Sheikh Zayed Stadium,29,8857,329,152.706897,5.672414,26.920973,balanced
St George's Park,7,2033,77,145.214286,5.500000,26.402597,balanced
Subrata Roy Sahara Stadium,16,4528,183,141.500000,5.718750,24.743169,balanced
SuperSport Park,12,3653,133,152.208333,5.541667,27.466165,balanced
"Vidarbha Cricket Association Stadium, Jamtha",3,882,48,147.000000,8.000000,18.375000,bowling
Wankhede Stadium,73,23407,894,160.321918,6.123288,26.182327,balanced
"Wankhede Stadium, Mumbai",31,10301,361,166.145161,5.822581,28.534626,batting
"Zayed Cricket Stadium, Abu Dhabi",8,2475,93,154.687500,5.812500,26.612903,balanced

In [16]:
performance=pd.merge(player_data,venue_data,on='Venue')
performance.head()

,ID,innings,overs,batter,bowler,batsman_run,total_run,isWicketDelivery,BattingTeam,current_runs,...,Season,MatchNumber,Venue,matches,runs,wickets,avg_runs,avg_wickets,bowling_avg,pitch
0,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,0,...,2022,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced
1,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,1,0,Rajasthan Royals,1,...,2022,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced
2,1312200,1,0,JC Buttler,Mohammed Shami,1,1,0,Rajasthan Royals,2,...,2022,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced
3,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,...,2022,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced
4,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,...,2022,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced

In [17]:
run=0
match_id=0
tars=[]

def estimate(row):
    global match_id
    global inning
    global run
    global wicket
    if((row.ID!=match_id)):
        run=0
        match_id=row.ID
    if(row.innings==1):
        run+=row.total_run
        tars.append(row.avg_runs)
    else:
        tars.append(run)
#return (run,wicket)
performance.apply(lambda row: estimate(row),axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
225949    None
225950    None
225951    None
225952    None
225953    None
Length: 225954, dtype: object

In [18]:
performance['target']=tars
performance.head()

,ID,innings,overs,batter,bowler,batsman_run,total_run,isWicketDelivery,BattingTeam,current_runs,...,MatchNumber,Venue,matches,runs,wickets,avg_runs,avg_wickets,bowling_avg,pitch,target
0,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,0,...,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286
1,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,1,0,Rajasthan Royals,1,...,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286
2,1312200,1,0,JC Buttler,Mohammed Shami,1,1,0,Rajasthan Royals,2,...,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286
3,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,...,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286
4,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,...,Final,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286

In [19]:
performance.target.max()

263.0

In [20]:
performance['required_run_rate']=(performance['target']-performance['current_runs'])/(21-performance['overs'])
performance.head()

,ID,innings,overs,batter,bowler,batsman_run,total_run,isWicketDelivery,BattingTeam,current_runs,...,Venue,matches,runs,wickets,avg_runs,avg_wickets,bowling_avg,pitch,target,required_run_rate
0,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,0,...,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286,7.272109
1,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,1,0,Rajasthan Royals,1,...,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286,7.224490
2,1312200,1,0,JC Buttler,Mohammed Shami,1,1,0,Rajasthan Royals,2,...,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286,7.176871
3,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,...,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286,7.176871
4,1312200,1,0,YBK Jaiswal,Mohammed Shami,0,0,0,Rajasthan Royals,2,...,"Narendra Modi Stadium, Ahmedabad",7,2138,77,152.714286,5.5,27.766234,balanced,152.714286,7.176871

In [21]:
performance.required_run_rate.max()

67.5

In [22]:
performance.columns

Index(['ID', 'innings', 'overs', 'batter', 'bowler', 'batsman_run',
       'total_run', 'isWicketDelivery', 'BattingTeam', 'current_runs',
       'current_wickets', 'Season', 'MatchNumber', 'Venue', 'matches', 'runs',
       'wickets', 'avg_runs', 'avg_wickets', 'bowling_avg', 'pitch', 'target',
       'required_run_rate'],
      dtype='object')

In [23]:
performance=performance.drop(['ID','current_runs','total_run','Venue','pitch','matches','runs','wickets','avg_wickets', 'bowling_avg','target','overs'],axis=1)
performance.head()

,innings,batter,bowler,batsman_run,isWicketDelivery,BattingTeam,current_wickets,Season,MatchNumber,avg_runs,required_run_rate
0,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,Final,152.714286,7.272109
1,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,Final,152.714286,7.224490
2,1,JC Buttler,Mohammed Shami,1,0,Rajasthan Royals,0,2022,Final,152.714286,7.176871
3,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,Final,152.714286,7.176871
4,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,Final,152.714286,7.176871

In [24]:
my_array=['Final', 'Qualifier 2', 'Eliminator', 'Qualifier 1','Qualifier', 'Elimination Final', 'Semi Final']
performance['is_playoff'] = performance['MatchNumber'].apply(lambda x: 1 if x in my_array else 0)
performance=performance.drop(['MatchNumber'],axis=1)
performance.head()

,innings,batter,bowler,batsman_run,isWicketDelivery,BattingTeam,current_wickets,Season,avg_runs,required_run_rate,is_playoff
0,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,152.714286,7.272109,1
1,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,152.714286,7.224490,1
2,1,JC Buttler,Mohammed Shami,1,0,Rajasthan Royals,0,2022,152.714286,7.176871,1
3,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,152.714286,7.176871,1
4,1,YBK Jaiswal,Mohammed Shami,0,0,Rajasthan Royals,0,2022,152.714286,7.176871,1

In [25]:
david=performance.loc[performance['batter']=='DA Warner']
david.head()

,innings,batter,bowler,batsman_run,isWicketDelivery,BattingTeam,current_wickets,Season,avg_runs,required_run_rate,is_playoff
2374,1,DA Warner,HR Shokeen,1,0,Delhi Capitals,0,2022,166.145161,7.957258,0
2377,1,DA Warner,HR Shokeen,0,0,Delhi Capitals,0,2022,166.145161,7.907258,0
2378,1,DA Warner,HR Shokeen,4,0,Delhi Capitals,0,2022,166.145161,7.707258,0
2379,1,DA Warner,HR Shokeen,0,0,Delhi Capitals,0,2022,166.145161,7.707258,0
2383,1,DA Warner,DR Sams,0,0,Delhi Capitals,0,2022,166.145161,7.691851,0

In [26]:
one_hot_encoded = pd.get_dummies(david['BattingTeam'])
david = pd.concat([david, one_hot_encoded], axis=1)
david=david.drop(['BattingTeam','batter'],axis=1)
david.head()

,innings,bowler,batsman_run,isWicketDelivery,current_wickets,Season,avg_runs,required_run_rate,is_playoff,Delhi Capitals,Delhi Daredevils,Sunrisers Hyderabad
2374,1,HR Shokeen,1,0,0,2022,166.145161,7.957258,0,1,0,0
2377,1,HR Shokeen,0,0,0,2022,166.145161,7.907258,0,1,0,0
2378,1,HR Shokeen,4,0,0,2022,166.145161,7.707258,0,1,0,0
2379,1,HR Shokeen,0,0,0,2022,166.145161,7.707258,0,1,0,0
2383,1,DR Sams,0,0,0,2022,166.145161,7.691851,0,1,0,0

In [27]:
david.columns

Index(['innings', 'bowler', 'batsman_run', 'isWicketDelivery',
       'current_wickets', 'Season', 'avg_runs', 'required_run_rate',
       'is_playoff', 'Delhi Capitals', 'Delhi Daredevils',
       'Sunrisers Hyderabad'],
      dtype='object')

In [28]:
from keras.layers import Input, Embedding, Flatten, Dense, Concatenate
from keras.models import Model

In [29]:
category_to_id = {category: i for i, category in enumerate(david['bowler'].unique())}

# Add a new column 'Category_ID' with the integer IDs for each category
david['Category_ID'] = david['bowler'].map(category_to_id)

# Number of unique categories
num_categories = len(david['bowler'].unique())

# Embedding dimension for the category feature
embedding_dim = 5

# Create the model to learn the embeddings
input_category = Input(shape=(1,))
embedding_layer = Embedding(input_dim=num_categories, output_dim=embedding_dim)(input_category)
flatten_layer = Flatten()(embedding_layer)
model = Model(inputs=input_category, outputs=flatten_layer)

# Compile the model (not needed for embedding-only models)
model.compile(optimizer='adam', loss='mse')

# Get the embeddings for the categorical feature
embeddings = model.predict(david['Category_ID'].values.reshape(-1, 1))

# Add the embeddings as new columns in the DataFrame
for i in range(embedding_dim):
    david[f'Embedding_{i + 1}'] = embeddings[:, i]

# Display the DataFrame with the embeddings
david.head()

135/135 [==============================] - 1s 1ms/step

,innings,bowler,batsman_run,isWicketDelivery,current_wickets,Season,avg_runs,required_run_rate,is_playoff,Delhi Capitals,Delhi Daredevils,Sunrisers Hyderabad,Category_ID,Embedding_1,Embedding_2,Embedding_3,Embedding_4,Embedding_5
2374,1,HR Shokeen,1,0,0,2022,166.145161,7.957258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2377,1,HR Shokeen,0,0,0,2022,166.145161,7.907258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2378,1,HR Shokeen,4,0,0,2022,166.145161,7.707258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2379,1,HR Shokeen,0,0,0,2022,166.145161,7.707258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2383,1,DR Sams,0,0,0,2022,166.145161,7.691851,0,1,0,0,1,0.044326,-0.040281,0.016527,0.007891,0.023584

In [30]:
david=david.drop(['bowler'],axis=1)
david.head()

,innings,batsman_run,isWicketDelivery,current_wickets,Season,avg_runs,required_run_rate,is_playoff,Delhi Capitals,Delhi Daredevils,Sunrisers Hyderabad,Category_ID,Embedding_1,Embedding_2,Embedding_3,Embedding_4,Embedding_5
2374,1,1,0,0,2022,166.145161,7.957258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2377,1,0,0,0,2022,166.145161,7.907258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2378,1,4,0,0,2022,166.145161,7.707258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2379,1,0,0,0,2022,166.145161,7.707258,0,1,0,0,0,0.015589,-0.039129,-0.017039,0.017085,-0.018198
2383,1,0,0,0,2022,166.145161,7.691851,0,1,0,0,1,0.044326,-0.040281,0.016527,0.007891,0.023584

In [31]:
david.columns

Index(['innings', 'batsman_run', 'isWicketDelivery', 'current_wickets',
       'Season', 'avg_runs', 'required_run_rate', 'is_playoff',
       'Delhi Capitals', 'Delhi Daredevils', 'Sunrisers Hyderabad',
       'Category_ID', 'Embedding_1', 'Embedding_2', 'Embedding_3',
       'Embedding_4', 'Embedding_5'],
      dtype='object')

In [32]:
# Shuffling the data (pandas sample-- frac:what fraction of data will return)
david=david.sample(frac=1,random_state=44)
input_features=['innings', 'current_wickets',
       'Season', 'avg_runs', 'required_run_rate', 'is_playoff',
       'Delhi Capitals', 'Delhi Daredevils', 'Sunrisers Hyderabad',
       'Embedding_1', 'Embedding_2', 'Embedding_3',
       'Embedding_4', 'Embedding_5']
input_data=david.loc[:,input_features]
target_data=david.loc[:,['batsman_run', 'isWicketDelivery']]
input_data.head()

,innings,current_wickets,Season,avg_runs,required_run_rate,is_playoff,Delhi Capitals,Delhi Daredevils,Sunrisers Hyderabad,Embedding_1,Embedding_2,Embedding_3,Embedding_4,Embedding_5
114113,1,1,2011,151.744681,7.263593,0,0,1,0,0.008711,-0.049669,0.040528,-0.019512,-0.039049
44140,2,1,2021,151.900000,6.500000,0,0,0,1,0.023563,-0.021367,-0.007202,0.028650,-0.048147
128907,1,2,2014,151.918367,5.364796,0,0,0,1,0.003185,0.030854,-0.020052,0.046803,0.042299
128546,2,1,2014,151.918367,6.285714,0,0,0,1,0.015544,-0.007441,0.018669,-0.014357,0.040237
124705,1,0,2017,151.918367,5.717687,0,0,0,1,0.036838,-0.035520,0.019691,0.002564,0.042941

In [ ]:
def convert_season_to_int(season):
    # If the season is in format "YYYY/YYYY," extract the first year
    if '/' in season:
        season = season.split('/')[0]
    return int(season)

# Apply the custom function to the 'season' column
input_data['Season'] = input_data['Season'].apply(convert_season_to_int)
input_data.dtypes

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scalables=['current_wickets','avg_runs','required_run_rate']
input_data[scalables]=scaler.fit_transform(input_data.loc[:,scalables])
input_data.head()

In [ ]:
#Creating the train, validation and test data from the input and target data
#VLAIDATION DATA: for observing the overfitting by the hyper-parameters(parameters choose by the programer to create the model)

#initialise the number of rows that will be in the train ,test and validation set
train_count=int(0.8*input_data.shape[0])
vald_count=int(0.1*input_data.shape[0])
test_count=input_data.shape[0]-train_count-vald_count

train_input=input_data.iloc[:train_count,:]              #loc:label based(identifys by feature names), iloc identifies as index numbers
train_target=target_data.iloc[:train_count,:]            #loc and iloc are from pandas
vald_input=input_data.iloc[train_count:train_count+vald_count,:]
vald_target=target_data.iloc[train_count:train_count+vald_count,:]
test_input=input_data.iloc[train_count+vald_count:,:]
test_target=target_data.iloc[train_count+vald_count:,:]
test_target

print(train_count,vald_count,test_count)
#Check the balance in the target data in train, test and the validation set
print(np.sum(train_target['isWicketDelivery'])/train_count,np.sum(vald_target['isWicketDelivery'])/vald_count,np.sum(test_target['isWicketDelivery'])/test_count)

In [ ]:
#Saving the train ,test, validation data in npz format
np.savez('david_train_data',inputs=train_input,targets=train_target)
np.savez('david_validation_data',inputs=vald_input,targets=vald_target)
np.savez('david_test_data',inputs=test_input,targets=test_target)

In [ ]:
import tensorflow as tf
hid_size=100   #initialising the the size of each hidden layers 
model=tf.keras.Sequential([
    tf.keras.layers.Dense(hid_size,activation='relu'),
    tf.keras.layers.Dense(hid_size,activation='relu'),
    tf.keras.layers.Dense(2,activation='softmax'),
])
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics='accuracy')
batch_size=100
epoch=30
early_stopping=tf.keras.callbacks.EarlyStopping(patience=2)  #patience is the maximum number of ignoring(by default 0)
model.fit(train_input,train_target,batch_size=batch_size,epochs=epoch,
          callbacks=[early_stopping],     #calling a callback eraly stopping in each epochs
          validation_data=(vald_input,vald_target),verbose=2)